# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../../:\Workspace\trent\OneDrive - Flinders\work\teaching\COMP3712 2021\Tutorials\Code\Tut07\AllShortest\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
